

.birinci{
    width: 100%;
    height: 900px;
    background-image: url(https://startbootstrap.github.io/startbootstrap-stylish-portfolio/assets/img/bg-masthead.jpg);
    background-position: left center;
    background-repeat: no-repeat;
}
h1{
    padding-top: 23%;
    font-size: 80px;
}
.h3bir{
    text-align: center;
    font-size: 25px;
    font-family: var(--bs-body-font-family);
    font-style: italic;
    font-weight: 700;
    font-size: calc(1.3rem + 0.6vw);
    line-height: 1px;

}
.button1 {
    margin-left: 660px;
    margin-top: 30px;
    width: 200px;
    height: 80px;
    color: white;
    border:#1D809F;
    border-radius: 10px;
    background-color: #1D809F;
}
.button1:hover{
    background-color:#0c5d75 ;
}
 .ikinci{
    width: 100%;
    height: 300px;
    background-color: white;
}
.h3iki{
margin-top: 100px;
font-size: 30px;
}
.p1{
    margin: 5px;
    font-size: large;
    line-height: 10px;
   
}
.button2{
    
    
    margin-left: 660px;
    width: 200px;
    height: 80px;
    color: white;
    border-radius: 5px;
    background-color: rgb(35, 32, 32);
    margin-top: 60px;
}

.ucuncu{
    width: 100%;
    height: 540px;
    background-color: #1D809F;

}

.h3ucuncu{
    color:rgb(240, 208, 26);
    font-size: 15px;
    padding-top: 120px;
    padding-bottom:  2px;
    line-height: 1px;
    font-family: 'Passions Conflict', cursive;
    font-family: 'Roboto', sans-serif;

}
.h2ucuncu{
    color: white;
    font-size: 60px;
    line-height: 1px;
    padding-top 40px;
    font-size:45px;
    font-family: 'Passions Conflict', cursive;
    font-family: 'Roboto', sans-serif;
    
}
.daire1{
    background-color: white;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin-left: 220px;
    float:left;
   
    
}
.img1{
    
    width: 130px;
    height: 130px;
    border-radius: 50%;
}

.daire2{
    background-color: white;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    float: left;
    margin-left: 160px;
    
    
}
.img2{
    
    width: 130px;
    height: 130px;
    border-radius: 50%;
}
.img3{
    
    width: 130px;
    height: 130px;
    border-radius: 50%;
}
.daire3{
    background-color: white;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    float: left;
    margin-left: 220px;
    
    
}
.daire4{
    background-color: white;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    float: left;
    margin-left: 160px;
    
    
}


.kvadrat1{
    background-color:#1D809F;
    width: 210px;
    height: 50px;
    
    float: left;
    margin-left: 180px;
    
    
}
.kvadrat2{
    background-color:#1D809F;
    width: 230px;
    height: 130px;
    
    float: left;
    margin-left: 70px;
    
    
}
.kvadrat3{
    background-color:#1D809F;
    width: 230px;
    height: 130px;
    float: left;
    margin-left: 115px;
    
    
}
.kvadrat4{
    background-color: #1D809F;
    width: 210px;
    height: 130px;
    float: left;
    margin-left: 95px;
    
    
}
.H1KV{
    color: white;
    font-size: 30px;
    text-align: center;
    
}
.pkv{
    color: white;
    
}

.H1KV2{
    color: white;
    font-size: 30px;
    text-align: center;
    
}
.pkv2{
    color: white;
    
}
.H1KV3{
    color: white;
    font-size: 30px;
    text-align: center;
    
}
.pkv3{
    color: white;
    
}
.H1KV4{
    color: white;
    font-size: 30px;
    text-align: center;
    
}
.pkv4{
    color: white;
    
}

.dorduncu{
    width: 100%;
    height: 850px;
    background-image:  url(https://startbootstrap.github.io/startbootstrap-stylish-portfolio/assets/img/bg-callout.jpg);
    background-position: right center ;
    background-repeat: no-repeat;
}
.dorduncuh2{
    padding-top: 20%;
    font-size: 80px;
    display: block;
}
.ateq{
    margin-left: 660px;
    width: 200px;
    height: 60px;
    color: white;
    border:#1D809F;
    border-radius: 10px;
    background-color: rgb(29, 128, 159);
    display: block;
    text-decoration: none;
    text-align: center;
    padding-top: 40px;
    font-size:20px;
}
.besinci{
    width: 100%;
    height: 800px;
    background-color: white;

}
.besinci1{
    color: #ecb807;
    font-size: 18px;
    text-align: center;
    margin-top: 100px;
    
}
.besinci2{
    color: black;
    font-size: 40px;
    text-align: center;
    line-height: 5px;
}
.kvadratkicil1{
    width: 500px;
    height: 300px;
    background-image:url(https://startbootstrap.github.io/startbootstrap-stylish-portfolio/assets/img/portfolio-1.jpg);
    margin-left: 250px;
    float: left;
  
}
.kvadratkicil2{
    width: 500px;
    height: 300px;
    background-image:url(https://startbootstrap.github.io/startbootstrap-stylish-portfolio/assets/img/portfolio-2.jpg);
    float: left;
    
}

.kvadratkicil3{
    width: 500px;
    height: 300px;
    background-image:url(https://startbootstrap.github.io/startbootstrap-stylish-portfolio/assets/img/portfolio-3.jpg);
    background-position: center bottom;
    margin-left: 250px;
    float: left;
   
}
.kvadratkicil4{
    width: 500px;
    height: 300px;
    background-image:url(https://startbootstrap.github.io/startbootstrap-stylish-portfolio/assets/img/portfolio-4.jpg);
    background-position: center right;
    float: left;
   
}
.kvadratkicil1:hover{
    transform: scale(0.8,0.8 );
   transition: 1s;
   background-color: rgba(37, 134, 231, 0.5);
}

.kvadratkicil2:hover{
    transform: scale(0.8,0.8);
   transition: 1s;
   background-color: rgba(37, 134, 231, 0.5);
}
.kvadratkicil3:hover{
    background-color: rgba(37, 133, 230, 0.5);
    transform: scale(0.8,0.8);
   transition: 1s;
}
.kvadratkicil4:hover{
     transform: scale(0.8,0.8);
    transition: 1s;
    
}

.h1kvkicil{
    font-size: 15px;
    color: white;
    margin-left: 40px;
    margin-top: 30px;
}
.pkicil{
    font-size: 25px;
    color: white;
    margin-left: 40px;
}
.h1kvkicil2{
    font-size: 15px;
    color: white;
    margin-left: 40px;
    margin-top: 30px;
}
.pkicil2{
    font-size: 25px;
    color: white;
    margin-left: 40px;
}
.h1kvkicil3{
    font-size: 15px;
    color: white;
    margin-left: 40px;
    margin-top: 30px;
}
.pkicil3{
    font-size: 25px;
    color: white;
    margin-left: 40px;
}
.h1kvkicil4{
    font-size: 15px;
    color: white;
    margin-left: 40px;
    margin-top: 30px;
}
.pkicil4{
    font-size: 25px;
    color: white;
    margin-left: 40px;
}
.altinci{
    width: 100%;
    height:300px ;
    background-color:#1D809F ;
   
}
.h1altinci{
    font-size: 30px;
    text-align: center;
    color: white;
    padding-top: 100px;
}
.button6{
    width: 170px;
    height: 80px;
    color: black;
    border:white;
    border-radius: 8px;
    margin-left: 550px;
    background-color:white; 
    float: left;
    box-shadow: 10px 10px 10px rgb(41, 40, 40);
}

.button7{
    width: 170px;
    height: 80px;
    color: white;
    border:white;
    border-radius: 8px; 
    background-color:rgb(26, 24, 24); 
    margin-left: 20px;
    float: left;
    box-shadow: 10px 10px 10px rgb(41, 40, 40);
}
.yeddinci{
    width: 100%;
    height: 400px;
   
}
.map{
    width: 100%;
    height: 400px;
}
.sekkizinci{
    width: 100%;
    height: 300px;
    background-color: white;
}
